<nav>
  <%= link_to 'Evidence', root_path, class:"logo" %>
  <ul>
  
    <li><%= link_to 'Pojištění', policies_path %></li>
    <li><%= link_to 'Pojištěnci', policyholders_path %></li>
    <li><%= link_to 'Pojistné smlouvy', contracts_path %></li>
    <li><%= link_to 'O Aplikaci', home_about_path %></li>

  </ul>
</nav>