<article>
  <p style="color: green"><%= notice %></p>
  
  <header>
    <h1>Pojištěnci</h1>
    <div id="box">
      <%= link_to "Nový pojištěněc", new_policyholder_path, class: "button", id:"zeleny" %>
    </div>
  </header>
  
  <section>
    <table>
      <thead>
        <th>Jméno</th>
        <th>Datum narození</th>
        <th>Adresa</th>
        <th>Akce</th>
      </thead>
      <tbody>
        <% @policyholders.each do |policyholder| %>
        <tr>
          <td>
            <%= policyholder.name %>
          </td>
          <td class="tdcenter">
            <%= policyholder.birthdate %>
          </td>
          <td class="tdcenter">
            <%= policyholder.street %>, <%= policyholder.city %> <%= policyholder.zip %>
          </td>
          <td>
            <div id="box">
              <%= button_to "Odstranit", policyholder, method: :delete, class:"button", id:"cerveny" %>
              <%= link_to "Upravit", edit_policyholder_path(policyholder), class:"button", id:"zeleny" %> 
              <%= link_to "Zobrazit", policyholder, class:"button", id:"zeleny" %> 
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</article>
